.app__navbar {
    background: #ede7e3;
    border-bottom: 2px solid var(--darkblue-color);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    box-shadow: 0 7px 20px #b86200;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
}

.app__navbar-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        width: 251px;
        height: 64px;
        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 2000px) {
            width: 190px;
            height: 48px;
        }

        @media screen and (max-width: 1200px) {
            width: 150px;
            height: 38px;
        }

        @media screen and (max-width: 500px) {
            // display: none;
            width: 130px;
            height: 33px;
        }
    }
}

.app__navbar-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    li {
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        div {
            width: 100%;
            height: 4px;
            background: transparent;
            margin-bottom: 1px;
            color: var(--darkerorange-color);
            transition: all 0.3s ease-in-out;
        }

        div.top {
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
        }

        div.bottom {
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }

        a {
            text-decoration: none;
            color: var(--gray-color);
            flex-direction: column;
            text-transform: uppercase;
            font-weight: 500;
            transition: all 0.3s ease-in-out;

            &:hover {
                color: var(--secondary-color);
            }
        }

        &:hover {
            div {
                background: var(--secondary-color);
            }
        }

    }

    @media screen and (max-width: 950px) {
        display: none;
    }

}

.app__navbar-menu {
    width: 35px;
    height: 35px;

    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);

    svg {
        width: 70%;
        height: 70%;
        color: var(--white-color);

    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;

        padding: 1rem;

        width: 80%;
        height: 100vh;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        background: var(--secondary-color);
        background: url('../../assets/navMenuBg4.png');
        background-blend-mode: soft-light;
        background-size: cover;
        background-repeat: repeat;
        box-shadow: 0 0 20px var(--darkblue-color);

        svg {
            width: 35px;
            height: 35px;
            color: var(--secondary-color);
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--primary-color);
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: var(--secondary-color);
                        font-size: 1.4rem;
                    }

                    svg {
                        color: var(--primary-color);
                        width: 35px;
                        height: 35px;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: var(--secondary-color);
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 950px) {
            display: none;
        }

    }

    @media screen and (min-width: 950px) {
        display: none;
    }
}

.app__navbar-sites {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    a {
        padding: 0.25rem;
        text-decoration: none;
        color: var(--gray-color);
        font-size: 2.0rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--secondary-color);
        }

        @media screen and (min-width: 2000px) {
            font-size: 2.75rem;
        }

        @media screen and (max-width: 1200px) {
            font-size: 1.5rem;
        }

    }

    &:hover {
        color: var(--secondary-color);
    }

    @media screen and (max-width: 950px) {
        display: none;
    }

    .resume_container {
        font-size: 3rem;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-right: 20px;

        svg {
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
        }

        p {
            margin: 0;
            padding: 0;
            font-size: .85rem;
        }
    }
}