@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --font-family: "Quicksand", sans-serif;

  --primary-color: #d9d9d9;
  --secondary-color: #bf0b3b;
  --black-color: #0d0d0d;
  --lightGray-color: #7f7f7f;
  --gray-color: #373737;
  --darkred-color: #731022;
  --white-color: #f0f0f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
