@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap");

:root {
  --font-family: "Quicksand", sans-serif;
  --font-family-heading: "Poppins", sans-serif;

  --primary-color: #ede7e3;
  --secondary-color: #fb8500;
  --black-color: #0d0d0d;
  --lightGray-color: #7f7f7f;
  --gray-color: #373737;
  --darkerorange-color: #713d00;
  --white-color: #f0f0f0;

  /* darkred */

  /* from palette */
  --lightblue-color: #82c0cc;
  --mediumblue-color: #489fb5;
  --darkblue-color: #207486;
  --darkerblue-color: #0a272d;
  --lighterorange-color: #ffe8ad;
  --lightorange-color: #ffb703;
  --mediumorange-color: #fb8500;
  --darkorange-color: #a95a00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
